.container {
    margin: 2%;
}

.form-container {
    margin:5%;
    padding: 3%;
    padding-top: 1%; 
    background: white;
}

div.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20%;
    height: 100%;
}

img.addButton {
    cursor: pointer;
    height: 60px;
}

table {
    color: white;
}

.addButton, .deleteButton, .editButton {
    cursor: pointer;
    height: 60px;
}

.editButton {
    width: 70%;
}