/* ------------------------ MAIN TITLE ------------------------ */
h1.title_Name_Main {
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
	font-size: 60px;
  color: white
}

div.arrowDown {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

img.arrowDown {
  display: flex;
  height: 100%;
}

/* ------------------------ END OF MAIN TITLE!!! ------------------------ */

div.atmosphere {
  margin-top: 10%;
  margin-right: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 300px;
  width: 100%;
}

div.atmosphere_Text {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h2.atmosphere {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: left;
  color: #81f7f3;
  font-size: 40px;
  margin-right: 10%;
}

h4.atmosphere {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: left;
  color: white;
  font-size: 20px;
  margin-right: 10%;
  margin-left: 10%;
}

img.atmosphere {
  margin: 5%;
  float: right;
  height: 100%;
}

div.food {
  margin-top: 10%;
  margin-right: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 300px;
  width: 100%;
}

div.food_Text {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h2.food {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: right;
  color: #81f7f3;
  font-size: 40px;
  margin-right: 10%;
}

h4.food {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: right;
  color: white;
  font-size: 20px;
  margin-right: 10%;
}

img.food {
  margin: 5%;
  float: left;
  height: 100%;
}